@import './index.css';

.AboutMe{
    padding: 0 2rem 6.1rem ;
}

.HeroAboutMe{
    background-color: var(--blue);
    padding: 2rem;
    margin: 0rem -2rem;
}

.PageTitle{
    color: var(--black);
    text-shadow: var(--beige) 0.1rem 0.1rem;
}

.otterBtnDiv{
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: space-around;
    margin-bottom: -2rem;
}

.otterBtnDiv img{
    max-width: 75%;
    margin-top: -4rem;
    margin-left: -3rem;
}

.scrollArrow{
    z-index: 2;
    color: var(--beige);
    background-color: var(--brown);
    position: fixed;
    place-content: center;
    bottom: 20px;
    right: 10px;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--beige);
    transition: all 0.7s ease;
}

.scrollArrow:hover{
    cursor: pointer;
    color: var(--blue);
    background-color: var(--beige);
    border-color: var(--blue);
}


.SectionTitle{
    margin: 2rem 0 1rem;
    text-shadow: var(--brown) 0.07rem 0.07rem;
}


.storyBasic{
    margin-bottom: 1.5rem;
}

.storyBasic span{
    font-weight: 600;
    text-shadow: var(--brown) 0.03rem 0.03rem;
}

.storyClrChange{
    background-color: var(--blue);
    color: var(--beige);
    padding: 1.5rem 2rem;
    margin: 0 -2rem;
}

.storyClrChange span{
    font-weight: 600;
    text-shadow: var(--brown) 0.03rem 0.03rem;
}

.storyEndP{
    background-color: var(--brown);
    color: var(--beige);
    padding: 2rem 2rem;
    margin: 0 -2rem;
}

.storyEndP span{
    font-weight: 600;
    text-shadow: var(--black) 0.03rem 0.03rem;
}



@media screen and (min-width: 690px) {
    .HeroAboutMe{
        padding: 2rem 6rem;
    }
    
    .otterBtnDiv img{
        margin-top: -3rem;
    }
    
    

    .SectionTitle{
        margin-top: 3rem;
    }

    .storyBasic{
        margin: 2rem 3rem;
    }
    .storyClrChange{
        padding: 2rem 5rem;
        margin: 0 -2rem;
    }
    .storyEndP{
        padding: 4rem 5rem;
        margin: 0 -2rem;
    }
}

@media screen and (min-width: 1000px) {
    .storyBasic{
        margin: 3rem 5rem;
    }
    .storyClrChange{
        padding: 3rem 7rem;
        margin: 0 -2rem;
    }
    .storyEndP{
        padding: 4rem 7rem;
        margin: 0 -2rem;
    }
}

@media screen and (min-width: 1300px) {
    .storyBasic{
        margin: 3rem 7rem;
    }
    .storyClrChange{
        padding: 3rem 9rem;
        margin: 0 -2rem;
    }
    .storyEndP{
        padding: 4rem 9rem;
        margin: 0 -2rem;
    }
}