@import './index.css';

.contactPage{
    padding: 0 2rem 7rem;
}

.contactHero{
    background-color: var(--blue);
    padding: 1rem 2rem;
    margin: 0 -2rem -1rem;
    display: grid;
    grid-template-columns: 40vw 40vw;
}

.contactHero h2{
    color: var(--black);
    text-shadow: var(--beige) 0.1rem 0.1rem;
    grid-column: 1 / span 2 ;
}

.contactHero img{
    margin: -4.2rem;
    padding-top: 2rem;
    height: 15rem;
}


.contactForm{
    display: flex;
    flex-direction: column;
    padding: 2rem 0 1rem;
}

.contactForm label{
    font-family: 'Playwrite', serif;
    font-weight: 500;
    color: var(--black);
    line-height: 2.5rem;
}

.contactForm input,
.contactForm textarea{
    background-color: inherit;
    border-radius: 1rem;
    border: 0.2rem solid var(--brown);
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
    font-family: 'Playwrite', serif;
    font-weight: 500;
    color: var(--black);
    transition: all 0.5s ease-out;
}

.contactForm input::placeholder,
.contactForm textarea::placeholder{
    color: var(--brown);
    font-family: 'Playwrite', serif;
    font-weight: 500;
    font-size: 0.7rem;
}

.contactForm textarea{
    resize: none;
    height: 8rem;
}

.contactForm textarea::placeholder{
    font-size: 0.85rem;
}

.contactForm input:focus,
.contactForm textarea:focus{
    outline: 0.1rem solid var(--blue);
    background: radial-gradient(ellipse at 50% 50%, rgba(175, 143, 104, 1) 45%, rgba(51, 83, 174, 0.5) 100%);
    transition: all 0.5s ease-in;
}

.contactForm input:hover,
.contactForm textarea:hover{
    outline: 0.1rem solid var(--blue);
}

.inputContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.submit{
    padding: 2rem;
    width: fit-content;
    align-self: center;
    background-color: var(--blue) !important;
    color: var(--beige) !important;
}

.submit:hover{
    cursor: pointer;
    font-weight: 600;
}

.submit:focus{
    background: none !important;
    background-color: var(--brown)!important;
    font-weight: 600;
}

.submitDiv{
    position: relative;
    overflow: hidden;
    padding: 0 2rem;
    margin: 0 -2rem;
}

.emailOtter{
    z-index: -1;
    position: absolute;
    left: -4rem;
    height: 4rem;
    background: radial-gradient(circle at 55% 50%, rgba(51, 83, 174, 1) 10%, rgba(175, 143, 104, 1) 60%);
}

.otterSending{
    animation: otterSwim 1.5s infinite;
}

@keyframes otterSwim {
    0%{
        top: -1rem;
        left: -4rem;
        transform: rotate(-50deg);
    }
    40%{
        left: 2rem;
        transform: rotate(-15deg);
    }
    70%{
        top: 0;
        left: 10rem;
        transform: rotate(0deg);
    }
    100%{
        top: 2rem;
        left: 24rem;
        transform: rotate(15deg);
    }
}



.emailSentDiv{
    background-color: var(--brown);
    padding: 2rem 2rem 2rem;
    margin: 1rem -2rem -0.85rem;
}

.emailSentDiv h2{
    color: var(--beige);
    text-shadow: var(--black) 0.3rem 0.3rem;
    margin: 1rem 0;
}

.emailSentDiv p{
    color: var(--beige);
}

.emailSentDiv button{
    margin-top: 1rem;
    background-color: var(--blue);
    border-color: var(--beige);
    font-weight: 600;
}

.emailSentDiv button:hover{
    border-color: var(--beige);
    text-shadow: var(--black) 1px 1px;
}

