/* fonts */

@font-face{
  font-family: 'Carattere';
  src: url('./fonts/Carattere-Regular.ttf');
}
@font-face {
  font-family: 'Playwrite';
  src: url('./fonts/PlaywriteAUSA-Regular.ttf');
}

/* colours */

:root {
  --blue: #3353ae;
  --brown: #3b2300;
  --beige: #af8f68;
  --black: #141010;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  background-color: var(--beige);
}

h1{
  font-family: 'Carattere', serif;
  color: var(--black);
  text-shadow: var(--beige) 1px 1px;
}

h2{
  font-family: 'Carattere', serif;
  color: var(--brown);
  font-size: 3rem;
}

h3{
  font-family: 'Playwrite', serif;
  font-weight: 600;
  color: var(--black);
}

p{
  font-family: 'Playwrite', serif;
  font-weight: 500;
  color: var(--black);
  font-size: 1rem;
}

button{
  background-color: var(--brown);
  color: var(--beige);
  font-family: 'Playwrite', serif;
  padding: 0.4rem 0.7rem;
  border-radius: 1rem;
  border-style: solid;
}

button:hover{
  cursor: pointer;
  text-shadow: var(--beige) 1px 1px;
  border-style: dashed;
  border-color: var(--blue);
}

li{
  font-family: 'Playwrite', serif;
  color: var(--beige);
}




@media screen and (min-width: 700px){
  :root{
    max-width: 2000px;
  }

  h2{
    font-size: 3.5rem;
  }

  h3{
    font-size: 1.4rem;
  }

  p{
    font-size: 1.05rem;
  }

  button{
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
  }

}

@media screen and (min-width: 1100px) {
  h2{
    font-size: 4rem;
  }

  h3{
    font-size: 1.7rem;
  }

  p{
    font-size: 1.2rem;
  }
}

