@import './index.css';

.navbar{
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: var(--brown);
    animation-name: open;
    animation-duration: 2s;
}

.navOpeners{
    padding-left: 1rem;
    color: var(--beige);
}


.navbar ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navItem{
    width:fit-content;
    padding: 0.6rem 0.8rem;
    border-radius: 1rem;
    list-style-type: none;
}

.navItem:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: var(--brown);
}

@keyframes open {
    from {background-color: var(--brown);}
    to {background-color: var(--blue);}
}